* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*-------------------------------------HEADER-----------------------------*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 95px;
}

/*--logotipo--*/
.imagen-esquina-izquierda {
    width: 120px;
    height: auto;
    margin-right: 150px;
}

/*--barra de busqueda--*/
.menuprincipal {
    margin-right: 80px;
}

.menuprincipal a {
    text-decoration: none;
    padding: 16px 20px;
    background-color: white;
    color: black;
}

.menuprincipal a.activo {
    background-color: rgb(122, 27, 27);
    color: white;
}

.menuprincipal a:hover:not(.activo) {
    background-color: rgb(122, 27, 27);
    color: white;
}

/*--buscar + iconos--*/

#buscar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
    margin-right: 10px;
}

.favorito,
.cesta,
.user {
    font-size: 20px;
    color: black;
    margin-left: 5px;
    text-decoration: none;
}

/*--imagen header--*/

.imagen_cabecera_con_texto {
    position: relative;
    width: 100%;
    height: 400px;
}

.imagen_cabecera {
    width: 100%;
    object-fit: cover;
    display: block;
}

/*--texto en imagen--*/
.imagen_cabecera_con_texto .textImagen {
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.imagen_cabecera_con_texto p {
    font-size: 20px;
}

.imagen_cabecera_con_texto .modelo {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.imagen_cabecera_con_texto .boton_comprar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(122, 27, 27);
}

/*-------------------------------------------BODY CONTAINER----------------------------*/

.bodycontainer {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 115px;
    padding-right: 100px;
    color: white;
    background-color: rgb(129, 27, 27);
    border-bottom: 1px solid #ccc;
}

.filter h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.filter-options {
    display: flex;
    gap: 15px;
}

.filter-options span {
    font-size: 16px;
    cursor: pointer;
}

/* Ordenar por */
#upform {
    display: none;
    position: absolute;
    /* Permite controlar la posición relativa al contenedor */
    top: 15%;
    /* Ajusta según lo necesites */
    right: 5.3%;
    /* Ajusta según la alineación */
    background-color: rgb(129, 27, 27);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#upform li {
    list-style: none;
}

/*Manejo de filters*/
#filters.hidden {
    display: none;
    /* Aplica el desplazamiento */
}

.container-global {
    display: flex;
}

/*barra lateral izq*/
.aside {
    display: flex;
    flex: 20%;
    border-right: 1px solid #ccc;
}

.aside ul {
    margin: 20px;
}

.aside ul li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*contenido derecho*/
.section {
    background-color: #ffffff;
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 35px;
    border-radius: 8px;
}

.images-row {
    display: flex;
    justify-content: space-around;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: calc(25% - 10px);
    /* Mantiene las dimensiones originales */
}

.image-item img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    /* Espaciado entre imagen y texto */
    cursor: pointer;
}

.image-item p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

/*contenido debajo de la imagen*/
.datosObject {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datosObject p {
    font-size: 1.2rem;
}

/*aplicar al segundo hijo de*/
.datosObject>p:nth-of-type(2) {
    font-weight: bold;
}

/*paginacion*/
.inferiorSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1.6rem;
    padding-right: 5rem;
}

.selectPage {
    flex: 1;
    text-align: center;
}

.nextPage {
    text-align: right;
}

.nextPage p {
    text-decoration: underline;
    cursor: pointer;
}

/*----------------------------------------------FOOTER-----------------------------*/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

/*-----------------------------asistencia e information--------------------*/

.asistencia,
.information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*aplicar bold al primer hijo de div*/
.footer div p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.asistencia a,
.information a {
    text-decoration: none;
    color: black;
}

.asistencia a:hover:not(.activo),
.information a:hover:not(.activo) {
    text-decoration: underline;
}

/*--------------------------------redes------------------------*/

.facebook,
.instagram,
.twitter,
.tiktok {
    font-size: 35px;
    color: black;
}

/*--------------------------------idioma------------------------*/
.language {
    position: relative;
    display: block;
}

.language-selector {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 30px;
}

.language-dropdown {
    display: none;
    /* Oculto inicialmente */
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: #f2f2f2;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilos para cada elemento del menú */
.language-dropdown li {
    display: block;
}

/* Estilos para los enlaces en cada opción */
.language-dropdown li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.language-dropdown li a:hover {
    background-color: #ddd;
}

/*Muestra idiomas al pasar el mouse*/
.language:hover .language-dropdown {
    display: block;
}