/*Incluye siempre la propiedad box-sizing*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--HEADER--*/
.nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
}

/*--logotipo--*/
.imagen-esquina-izquierda {
    width: 120px;
    height: auto;
    margin-right: 150px;
}

/*--barra de busqueda--*/
.menuprincipal {
    margin-right: 80px;
}

.menuprincipal a {
    text-decoration: none;
    padding: 16px 20px;
    background-color: white;
    color: black;
}

.menuprincipal a.activo {
    text-decoration: underline;
    background-color: lightslategray;
}

.menuprincipal a:hover:not(.activo) {
    background-color: grey;
    font-weight: 900;
}

/*--buscar + iconos--*/
#buscar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
    margin-right: 10px;
}

.favorito,
.cesta,
.user {
    font-size: 20px;
    color: black;
    margin-left: 5px;
}

/*--imagen header--*/
.cabecera {
    background-color: aqua;
    height: 400px;
}

/*--BODY CONTAINER--*/
.bodycontainer {
    height: 50vh;
    padding-left: 20px;
}


/*-----------------------------FOOTER------------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    /*este queda como quieres sin incluir el gap*/
    /*justify-content: center;*/
    /*si quieres espacio no los centres usa otra de las propiedades
    para no tener que darle un gap de 150px*/
    /*gap: 150px;ojo con los espacios entre elementos, ojo con las medidas fijas dentro de 
    poco vamos con el diseño responsive*/
    border-top: 1px solid black;
    padding-top: 20px;
    /*align-self: flex-end; esta propiedad es para los hijos de footer no para footer 
    no hace nada*/
    align-items: center;
}

/*-----------------------------asistencia--------------------*/

/*en esto ya no entro porque es que el html no está correcto,
saca la ul y li y los header y organiza de nuevo div y dentro p y enlace*/
.asistencia {
    /* border: 1px solid black; */
    /* background-color: aqua; */
    /* display: flex; */
}

.asistencia ul .header {
    background-color: grey;
    display: flex;
    border-bottom: 1px solid black;
}

.asistencia ul {
    margin: 0px;
    padding: 5px;
}

.asistencia li {
    list-style-type: none;
    display: flex;
}

.asistencia a {
    text-decoration: none;
    color: black;
}

/*---------------------------information-------------------------*/
.information {
    border: 1px solid black;
    /* background-color: aqua; */
}

.information ul .header {
    background-color: grey;
    display: flex;
    border-bottom: 1px solid black;
}

.information ul {
    margin: 0px;
    padding: 5px;
}

.information li {
    list-style-type: none;
    display: flex;
}

.information a {
    text-decoration: none;
    color: black;
}

/*--------------------------------redes------------------------*/
.redes li {
    display: inline-flex;
    /*quiero flex no cosas inventadas que no he dado*/
}

.redes li {
    margin-top: 5px;
    margin-right: 5px;
}


/*lo mismo que arriba de los iconos de fontawesome crea tu clase y da estilos y si se
repiten la reutilizas*/
.fa-brands.fa-square-instagram {
    font-size: 30px;
    color: black;
}

.fa-brands.fa-facebook {
    font-size: 30px;
    color: black;
}

.fa-brands.fa-square-x-twitter {
    font-size: 30px;
    color: black;
}

.fa-brands.fa-tiktok {
    font-size: 25px;
    color: black;
}

/*--------------------------------idioma------------------------*/

.language {
    /* background-color: aqua; */
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #000000;
    align-items: center;
}

.language-selector {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.language-dropdown {
    display: none;
    /* Oculto inicialmente */
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #f2f2f2;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilos para cada elemento del menú */
.language-dropdown li {
    display: block;
}

/* Estilos para los enlaces en cada opción */
.language-dropdown li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.language-dropdown li a:hover {
    background-color: #ddd;
}

/*Muestra idiomas al pasar el mouse*/
.language:hover .language-dropdown {
    display: block;
}