body {
    /* background-color: aqua; */

}

/*----------------------------CABECERA-------------------*/
.cabecera {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    /* background-color: violet; */
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
}



/*----------------------------logtipo----------------------*/
.imagen-esquina-izquierda {
    width: 100px;
}

/*----------------------------barra de busqueda-------------------*/
.menuprincipal {
    /* background-color:coral; */
    margin-right: 80px;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 16px 20px;
    background-color: white;
    color: black;
}

.menu li a:hover:not(.activo) {
    background-color: grey;
    font-weight: 900;
    border-bottom: 1px solid black;
}

/*-----------------------submenu----------------------------*/



/*-----------------------------buscar + iconos-----------------*/
.barra-iconos {
    /* background-color: darkkhaki; */
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#Buscar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
}

.fa-solid.fa-heart {
    font-size: 20px;
    color: black;
}

.fa-solid.fa-bag-shopping {
    font-size: 20px;
    color: black;
}

.fa-solid.fa-user {
    font-size: 20px;
    color: black;
}

.barra-iconos a:hover:not(.activo) {
    background-color: grey;
    font-weight: 900;
    border-bottom: 1px solid black;
}

#Buscar {
    margin-right: 10px;
}

.barra-iconos a {
    margin-left: 5px;
}

/*----------------------------BODY CONTAINER-------------------*/
.bodycontainer {
    height: 50vh;
    padding-left: 20px;
}


/*-----------------------------FOOTER------------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 150px;
    border-top: 1px solid black;
    padding-top: 20px;
    align-self: flex-end;
    align-items: center;
}

/*-----------------------------asistencia--------------------*/
.asistencia {
    border: 1px solid black;
    /* background-color: aqua; */
    display: flex;
}

.asistencia ul .header {
    background-color: grey;
    display: flex;
    border-bottom: 1px solid black;
}

.asistencia ul {
    margin: 0px;
    padding: 5px;
}

.asistencia li {
    list-style-type: none;
    display: flex;
}

.asistencia a {
    text-decoration: none;
    color: black;
}

/*---------------------------information-------------------------*/
.information {
    border: 1px solid black;
    /* background-color: aqua; */
}

.information ul .header {
    background-color: grey;
    display: flex;
    border-bottom: 1px solid black;
}

.information ul {
    margin: 0px;
    padding: 5px;
}

.information li {
    list-style-type: none;
    display: flex;
}

.information a {
    text-decoration: none;
    color: black;
}

/*--------------------------------redes------------------------*/
.redes li {
    display: inline-flex;
}

.redes li {
    margin-top: 5px;
    margin-right: 5px;
}

.fa-brands.fa-square-instagram {
    font-size: 30px;
    color: black;
}

.fa-brands.fa-facebook {
    font-size: 30px;
    color: black;
}

.fa-brands.fa-square-x-twitter {
    font-size: 30px;
    color: black;
}

.fa-brands.fa-tiktok {
    font-size: 25px;
    color: black;
}

/*--------------------------------idioma------------------------*/

.language {
    /* background-color: aqua; */
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #000000;
    align-items: center;
}

.language-selector {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.language-dropdown {
    display: none;
    /* Oculto inicialmente */
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #f2f2f2;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilos para cada elemento del menú */
.language-dropdown li {
    display: block;
}

/* Estilos para los enlaces en cada opción */
.language-dropdown li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.language-dropdown li a:hover {
    background-color: #ddd;
}

/*Muestra idiomas al pasar el mouse*/
.language:hover .language-dropdown {
    display: block;
}