/*Incluye siempre la propiedad box-sizing*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "nav"
        "bodycontainer"
        "footer";
}

/*-------------------------------------HEADER-----------------------------*/
.nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*--logotipo--*/
.imagen-esquina-izquierda {
    width: 120px;
    height: auto;
    margin-right: 150px;
}

/*--barra de busqueda--*/
.menuprincipal {
    margin-right: 80px;
}

.menuprincipal a {
    text-decoration: none;
    padding: 16px 20px;
    background-color: white;
    color: black;
}

.menuprincipal a.activo {
    text-decoration: underline;
    background-color: rgb(122, 27, 27);
    color: white;
}

.menuprincipal a:hover:not(.activo) {
    background-color: grey;
}

/*--buscar + iconos--*/
#buscar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
    margin-right: 10px;
}

.favorito,
.cesta,
.user {
    font-size: 20px;
    color: black;
    margin-left: 5px;
    text-decoration: none;
}



/*-------------------------------------------BODY CONTAINER----------------------------*/
.bodycontainer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: aqua; */
}

.formulario-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    /* background-color: antiquewhite; */
}

/*Logeo y register (pestañas)*/
.logReg {
    display: flex;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid black; */
    /* background-color: orange; */
    /* justify-content: space-evenly; */
    margin-bottom: 10px;
    border-radius: 5px;
}

.logReg div {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/*Estado activo en las pestaña*/
.logReg div.active {
    background-color: rgb(122, 27, 27);
    color: #fff;
}

form {
    display: none;
}

form.active {
    display: block;
    /* background-color: grey; */
    padding: 20px;
    border-radius: 10px;
}

.create-account {
    background-color: red;
    height: 95%
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*----------------------------------------------FOOTER-----------------------------*/
.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-----------------------------asistencia e information--------------------*/

.asistencia,
.information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*aplicar bold al primer hijo de div*/
.footer div p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.asistencia a,
.information a {
    text-decoration: none;
    color: black;
}

.asistencia a:hover:not(.activo),
.information a:hover:not(.activo) {
    text-decoration: underline;
}

/*--------------------------------redes------------------------*/
.facebook,
.instagram,
.twitter,
.tiktok {
    font-size: 35px;
    color: black;
}

/*--------------------------------idioma------------------------*/
.language {
    position: relative;
    display: block;
}

.language-selector {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 30px;
}

.language-dropdown {
    display: none;
    /* Oculto inicialmente */
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: #f2f2f2;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilos para cada elemento del menú */
.language-dropdown li {
    display: block;
}

/* Estilos para los enlaces en cada opción */
.language-dropdown li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.language-dropdown li a:hover {
    background-color: #ddd;
}

/*Muestra idiomas al pasar el mouse*/
.language:hover .language-dropdown {
    display: block;
}