* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*---------------------------------HEADER-----------------------------*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 95px;
}

/*--logotipo--*/
.imagen-esquina-izquierda {
    width: 120px;
    height: auto;
    margin-right: 150px;
}

/*--barra de busqueda--*/
.menuprincipal {
    display: flex;
    gap: 15px;
}

.menuprincipal a {
    text-decoration: none;
    padding: 16px 20px;
    background-color: white;
    color: black;
}

.menuprincipal a.activo {
    background-color: rgb(122, 27, 27);
    color: white;
}

.menuprincipal a:hover:not(.activo) {
    background-color: rgb(122, 27, 27);
    color: white;
}

/*--buscar + iconos--*/
.barra-iconos {
    display: flex;
    align-items: center;
    gap: 10px;
}

#buscar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
    margin-right: 10px;
}

.favorito,
.cesta,
.user {
    font-size: 20px;
    color: black;
    margin-left: 5px;
    text-decoration: none;
}

/*--imagen header--*/
.imagen_cabecera_con_texto {
    position: relative;
    width: 100%;
    height: 400px;
}

.imagen_cabecera {
    width: 100%;
    object-fit: cover;
    display: block;
}

/*--texto en imagen--*/
.imagen_cabecera_con_texto .textImagen {
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.imagen_cabecera_con_texto p {
    font-size: 20px;
}

.imagen_cabecera_con_texto .modelo {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.imagen_cabecera_con_texto .boton_comprar {
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(122, 27, 27);
}

/*-------------------------------------------BODY CONTAINER----------------------------*/



.bodycontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.openbody {
    text-align: center;
}

.openbody h2 {
    font-size: 50px;
    font-weight: bold;
}

.section {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

.section h3 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.images-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
    gap: 10px; /* Espaciado entre elementos */
    justify-items: center; /* Centra los elementos dentro de cada celda */
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: calc(25% - 10px); */
    /* Mantiene las dimensiones originales */
}

.image-item img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    /* Espaciado entre imagen y texto */
}

.image-item p {
    font-size: 14px;
    color: #333;
    margin: 0;
}



/*----------------------------------FOOTER-----------------------------*/

.infofooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.infofooter p a {
    color: grey;
}

/*asistencia e information*/

.asistencia,
.information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*aplicar bold al primer hijo de div*/
.infofooter div p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.asistencia a,
.information a {
    text-decoration: none;
    color: black;
}

.asistencia a:hover:not(.activo),
.information a:hover:not(.activo) {
    text-decoration: underline;
}

/*redes*/

.facebook,
.instagram,
.twitter,
.tiktok {
    font-size: 35px;
    color: black;
}

/*idioma*/
.language {
    position: relative;
    display: block;
}

.language-selector {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 30px;
}

.language-dropdown {
    display: none;
    /* Oculto inicialmente */
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: #f2f2f2;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilos para cada elemento del men칰 */
.language-dropdown li {
    display: block;
}

/* Estilos para los enlaces en cada opci칩n */
.language-dropdown li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.language-dropdown li a:hover {
    background-color: #ddd;
}

/*Muestra idiomas al pasar el mouse*/
.language:hover .language-dropdown {
    display: block;
}

.footercopy {
    display: flex;
    justify-content: space-between;
}

/*--Copyright--*/
.copyright {
    font-size: 15px;
}

.copyright img {
    height: 22px;
    vertical-align: middle;
    margin-left: 0.1rem;
}



/* 游댠 MEN칔 RESPONSIVE 游댠 */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

/* Para tablets, etc */
@media (max-width: 900px) {
    .nav {
        padding: 15px;
    }

    .logo img {
        width: 100px;
    }

    /* Muestra el bot칩n hamburguesa */
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
        transform: translateX(-350%);
    }

    /* Oculta el men칰 por defecto en pantallas peque침as */
    .menuprincipal {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .menuprincipal a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    #buscar {
        display: none;
    }

    /* Ajuste de los iconos */
    .barra-iconos {
        gap: 5px;
    }

    .filter {
        padding: 10px;
        /* justify-content: space-evenly; */
    }
    .images-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .inferiorSection{
        display: flex;
        padding-right: 0px;
        padding-left: 0px;
    }

    /*footer*/
    .infofooter{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .asistencia, .information, .redes {
        margin: 20px;
    }
}

/* Clase para activar el men칰 al hacer clic */
.menuprincipal.active {
    display: flex;
    z-index: 100;
}

/*Para moviles*/
@media (max-width: 480px) {
    .nav {
        padding: 15px;
        /* justify-content: space-between; */
        align-items: center;
        position: relative;
    }

    .logo img {
        width: 100px;
    }

    /* Muestra el bot칩n hamburguesa */
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
        transform: translateX(-350%);
    }

    /* Oculta el men칰 por defecto en pantallas peque침as */
    .menuprincipal {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .menuprincipal a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }


    /* Ajuste de los iconos */
    .barra-iconos {
        gap: 5px;
    }

    /*body*/
    .images-row {
        grid-template-columns: 1fr;
    }
}

/* Clase para activar el men칰 al hacer clic */
.menuprincipal.active {
    display: flex;
}