li{
    list-style-type: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    display: inline-block;
    padding: 16px 20px;
    background-color: white;
}

li a:hover:not(.activo){
    background-color: grey;
    font-weight: 900;
    border-bottom: 1px solid black;
}

.minavhor{
    vertical-align: center;
    display: block;

}
.minavhor li{
    display:block;  
}